<div class="container fill">
  <h1 class="mt-3">Checkout Book</h1>
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="form-group mt-2">
    <label>Select a library branch:</label>
    <select class="form-control" (change)="changeBranch($event.target.selectedIndex)">
      <option *ngFor="let branch of branches">
        {{branch.name}}
      </option>
    </select>
  </div>
  <div>
    <label>Checkout a book:</label>
    <div class="form-group"><input class="form-control" type="text" [(ngModel)]="searchString" (input)="changeSearch()">
    </div>
    <ngb-pagination [collectionSize]="totalCopies" [(page)]="pager.currentPage" [maxSize]="5" [boundaryLinks]="true"
      (pageChange)="changePage($event)"></ngb-pagination>
    <table class="table table-striped">
      <thead class="thead-dark">
        <th>#</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>Genres</th>
        <th>Amount</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let copy of copies; let i=index">
          <td class="align-middle">{{(pager.currentPage - 1) * pager.pageSize + i + 1}}</td>
          <td class="align-middle">{{copy.book.title}}</td>
          <td class="align-middle">{{copy.book.authors}}</td>
          <td class="align-middle">{{copy.book.publisher}}</td>
          <td class="align-middle">{{copy.book.genres}}</td>
          <td class="align-middle">{{copy.amount}}</td>
          <td class="align-middle"><button class="btn btn-primary" (click)="open(checkoutModal, i)">Checkout</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #checkoutModal let-c="close" let-d="dismiss">
    <div class="ds-c-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book
            #{{(pager.currentPage - 1) * pager.pageSize + selectedBookIndex + 1}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Are you sure you want to checkout {{copies[selectedBookIndex].book.title}}?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>