.card-body {
  background-color: #00AD4C;
}

.btn-ss-green {
  background-color: #00AD4C;
  color: #fafafa;
}

.card-body a {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card-body {
  padding: 0px;
}
