<div class="container">
  <div class="text-center mt-3">
    <h1>Hello {{borrower.name}}.</h1>
    <h5>What would you like to do?</h5>
  </div>

  <div class="row mt-3">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/images/checkoutBook.jpg" class="card-img-top" alt="checkout">
        <div class="card-body text-center">
          <a class="btn btn-lg btn-ss-green" routerLink="/checkout">Checkout Book</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/images/returnBook.jpg" class="card-img-top" alt="return">
        <div class="card-body text-center">
          <a class="btn btn-lg btn-ss-green" routerLink="/return">Return Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
